<div class="jumbotron">
  <h2>Awesome!!!!</h2>
  <p class="lead">You made it all the way to the end. But are you one of the first three?</p>
</div>
<br>
{{message}}
<br>
<br>
<div class="row">	
	<form ng-submit="checkWinner()" name="form">
		<fieldset class="form-group">
			<label ng-if="!show" for="inputUser">Name:</label>
			<br>
			<input ng-if="!show" class="form-control" placeholder="Input name" type="text" id="name" ng-model="name"/>
		</fieldset>
		<fieldset class="form-group">
			<label ng-if="!show" for="inputUser">E-mail:</label>
			<br>
			<input ng-if="!show" class="form-control" placeholder="Input secret e-mail" type="email" id="email" ng-model="email"/>
		</fieldset>
		<p>
		<button ng-if="!show" type="submit" class="btn btn-primary pull-center">Winner?</button>
		</p>
	</form>	
</div>

<br>
<br>