<div class="jumbotron">
  <h2>Awesome!!!!</h2>
  <p class="lead">You made it all the way to the end. But are you one of the first three?</p>
</div>
<br>
{{message}}
<br>
<br>
<div class="row">
	<div class="col-lg-12">	
		<form ng-submit="checkWinner()" name="form">
			<fieldset class="form-group">
				<label for="inputUser">Name:</label>
				<br>
				<input class="form-control" placeholder="Input name" type="text" id="guess" ng-model="name" required/>
				<br>
				<label for="inputUser">E-mail:</label>
				<br>
				<input class="form-control" placeholder="Input name" type="email" id="guess2" ng-model="mail" required/>
			</fieldset>
			<p>
			<button type="submit" class="btn btn-primary pull-center">Winner?</button>
		</form>	
	</div>
</div>
<br>
<br>