<div class="jumbotron">
  <h2>Guess the secret number</h2>
  <p class="lead">Guess a number between 1 and 100. The goal is to be able to guess the correct number three times in a row with maximum 8 guesses per round. Even if it seems hopeless I guarantee there is logical solution to the problem</p>
</div>
<form ng-submit="guessNumber()" ng-controller="guessController" name="form">
	<fieldset class="form-group">
		<div class="col-lg-4">
			<label for="inputUser">Result:</label>
			<br>
			{{response.result}}
			<br>
			<br>
		</div>
		<div class="col-lg-4">
			<label for="inputUser">Number of guesses:</label>
			<br>
			{{response.guess_counter}}
			<br>
			<br>
		</div>
		<div class="col-lg-4">
			<label for="inputUser">Correct guesses in row:</label>
			<br>
			{{response.cons_corr_counter}}
			<br>
			<br>
		</div>		
		<br>
		<br>
		<br>
		<br>
		<input class="form-control" placeholder="{{placeholderText}}" type="text" id="guess" ng-model="guess"/>
	</fieldset>
	<p>
	<button ng-if="!showNav" type="submit" class="btn btn-primary pull-center">Guess</button>
	<button ng-if="showNav" type="submit" class="btn btn-primary pull-center" ng-click="newPage(guess)">Next Level</button>
	</p>
</form>